RewriteEngine On
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js)$
RewriteRule (.*) routes.php [QSA,L]


 #ini_set('session.cookie_httponly', 1)
 #Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure"